@font-face {
    font-family:'Panton-BlackCaps';
    src: url('../fonts/Panton-BlackCaps_gdi.eot');
    src: url('../fonts/Panton-BlackCaps_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Panton-BlackCaps_gdi.woff') format('woff'),
    url('../fonts/Panton-BlackCaps_gdi.ttf') format('truetype'),
    url('../fonts/Panton-BlackCaps_gdi.svg#Panton-BlackCaps') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB02;
}

@font-face {
    font-family:'Panton-LightitalicCaps';
    src: url('../fonts/Panton-LightitalicCaps_gdi.eot');
    src: url('../fonts/Panton-LightitalicCaps_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Panton-LightitalicCaps_gdi.woff') format('woff'),
    url('../fonts/Panton-LightitalicCaps_gdi.ttf') format('truetype'),
    url('../fonts/Panton-LightitalicCaps_gdi.svg#Panton-LightitalicCaps') format('svg');
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family:'Panton-BlackitalicCaps';
    src: url('../fonts/Panton-BlackitalicCaps_gdi.eot');
    src: url('../fonts/Panton-BlackitalicCaps_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Panton-BlackitalicCaps_gdi.woff') format('woff'),
    url('../fonts/Panton-BlackitalicCaps_gdi.ttf') format('truetype'),
    url('../fonts/Panton-BlackitalicCaps_gdi.svg#Panton-BlackitalicCaps') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}
@font-face {
    font-family:'SegoeUI-Regular';
    src: url('../fonts/SegoeUI_gdi.eot');
    src: url('../fonts/SegoeUI_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI_gdi.woff') format('woff'),
    url('../fonts/SegoeUI_gdi.ttf') format('truetype'),
    url('../fonts/SegoeUI_gdi.svg#SegoeUI-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-2666;
}
@font-face {
    font-family:'SegoeUI-SemiboldItalic';
    src: url('../fonts/SegoeUI-SemiboldItalic_gdi.eot');
    src: url('../fonts/SegoeUI-SemiboldItalic_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/../fonts/SegoeUI-SemiboldItalic_gdi.woff') format('woff'),
    url('../fonts/SegoeUI-SemiboldItalic_gdi.ttf') format('truetype'),
    url('../fonts/SegoeUI-SemiboldItalic_gdi.svg#SegoeUI-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+000D-FB17;
}