
body{
    font-family:'Panton-BlackCaps';
}


h1{
    margin: 0;
    padding: 0;
}
h2{
    padding: 0;
    margin: 0;
    line-height: 1;
}
p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.b-sc-header{
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-family:'Panton-BlackitalicCaps';
    margin: 0;
    font-size: 3rem;

}
.b-sc-header--white{
    color: #fff;
}
.r{
    position: relative;
}
.r:after{
    content: "—";
    font-size: .7em;
    position: absolute;
    font-weight: 200;
    left: -7%;
    bottom: 1%;
}
.dn{
    display: none;
}
/*Общие стили*/
.width{
    width:100%;
    max-width: 1140px;
    min-width: 320px;
    margin: 0 auto;
    padding:0 15px;

}
.btn{
    background: #ffdb00;
    color: #2b2b2b;
    padding: 12px 26px;
    box-shadow: 2px 2px 10px #a9aaab;
    margin: 10px 0;
    display: block;
    letter-spacing: 0.2rem;
    width: 110px;
    font-family:'Panton-BlackCaps';
}
.btn:hover{
    background: #fbe664;
    box-shadow: 3px 3px 10px #000;
}
.btn--big{
    width: 189px;
    padding: 12px 18px;
}
.m0a{
    display: block;
    margin: 0 auto;
}
/*Блоки*/
.b-wrapper{
    overflow: hidden;
}
.b-scroll-1{
    background: url(../img/bg1.jpg) 50% 50% no-repeat;
    padding-bottom: 30px;

}
.b-sc1-left-col{
    display: inline-block;
    width: 50%;
}
.b-sc1-logo{
    font-family:'Panton-BlackitalicCaps';
    font-size: 3.77rem;
    /*font-style: italic;*/
    color: #003e86;
}


.b-sc1-right-col{
    display: inline-block;
    width: 50%;
    text-align: right;
}
.b-sc-1-work-mode{
    display: inline-block;
    font-family: 'Panton-LightitalicCaps';
    font-size: 1.13rem;
    text-align: left;
}
.b-sc-1-tel{
    display: inline-block;
    text-align: left;
    margin-left: 11%;
}
.b-sc-1-tel__number{
    font-family:'Panton-BlackitalicCaps';
    font-size: 1.85rem;
}
.b-sc-1-tel__link{
    color: #c91f1f;
    text-transform: uppercase;
    border-bottom: 1px dashed #c91f1f;

}
.b-sc-1-tel__link:hover{
    border-bottom: 0 dashed #c91f1f;

}
.b-sc-row{

}
.b-sc1-header-menu{
    margin: 23px 0 0 ;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.b-sc1-menu-item{
    display: inline-block;
    vertical-align: middle;
    padding: 0 2.4%;
}
.b-sc1-menu-item__link{
    font-family:'SegoeUI-Regular';
    color: #063470;
    border-bottom: 1px dashed #063470;
    font-size: 1.1rem;

}
.b-sc1-menu-item__link:hover{
    border-bottom: 0 dashed #063470;

}
.b-sc1-menu-item:first-child{
    padding-left: 0;
}
.b-sc1-menu-item:last-child{
    padding-right: 0;

}
.b-sc-header--sc1{
    color: #003e86;
    font-size: 2.34rem;
    margin: 25px 0 10px 0;
}
.b-sc1-sub-header{
    font-family: 'Panton-LightitalicCaps';
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 1.5rem;
    font-style: italic;
}
.b-sc1__mb-left{
    display: inline-block;
    vertical-align: middle;
    width: 68%;
}
.b-sc1__mb-right{
    display: inline-block;
    vertical-align: middle;
}
.b-sc1-mb__action{
    width: 94%;
}
.b-scroll-2{
    padding-top: 50px;

}
.b-sc2-ul{
    margin: 0;
    padding: 0 0 70px 0;
    text-align: center;
}
.b-sc2-ul__li{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 15%;
    padding: 0 .7%;


}
.b-sc2-ul__li:first-child{
    padding-left: 0;
}
.b-sc2-ul__li:last-child{
    padding-right: 0;
}
.b-sc2-il-item__img{
    width: 79%;
    margin: 0 auto;
}
.b-sc2-ul-item__text{
    display: block;
    text-align: left;
    font-family:'Panton-BlackitalicCaps';
    font-size: 1.1rem;
}

.b-scroll-3{

}
.b-sc3-box{
    text-align: center;
    margin-top: 18px;
    margin-bottom: 50px;
}
.b-sc3-box__item{
    display: inline-block;
    width: 31%;
    box-shadow: 2px 2px 15px #aeafb0;
    margin: 0 1.75%;
}
.b-sc3-box__item:first-child{
    margin-left: 0;
}
.b-sc3-box__item:last-child{
    margin-right: 0;
}
.b-sc3-item{
    padding: 30px;
    text-align: left;
}
.b-sc3-item-img{
    width: 100%;
    margin-bottom: 10px;
}
.b-sc3-item-head{
    color: #003e86;
    font-size: 1.85rem;
    font-family:'Panton-BlackitalicCaps';
    line-height: 1;
}
.b-sc3-item-head span{
    font-size: 1.5rem;
}
.b-sc3-item-choose-color{
    margin-top: 10px;
}
.b-sc3-i-ch-color-text{
    display: inline-block;
    vertical-align: middle;
    font-family:'SegoeUI-Regular';
    width: 18%;
}
.b-sc3-item-choose-color__item-box{
    display: inline-block;
    vertical-align: middle;
    width: 66%;
}
.b-sc3-i-ch-color-item{
    display: inline-block;
    vertical-align: middle;
    width: 17%;
    border: 3px solid #26282c;
    height: 22px;
    margin: 0 1%;
    cursor: pointer;
}
.b-sc3-i-ch-color-item--beige{
    background: #dad4b5;
}
.b-sc3-i-ch-color-item--brown{
    background: #54463d;
}
.b-sc3-i-ch-color-item--black{
    background: #000;
}
.b-sc3-ul{
    margin: 13px 0 10px 0;
    padding: 0;

}
.b-sc3-ul__li{
    list-style-type: none;
    font-family:'SegoeUI-Regular';
}

.b-sc3-item-price{

}
.b-sc3-item-price__old{
    display: inline-block;
    font-family:'Panton-LightitalicCaps';
    vertical-align: baseline;
    text-decoration: line-through;

}
.b-sc3-item-price__new{
    display: inline-block;
    color: #c91f1f;
    vertical-align: baseline;
    font-size: 1.5rem;
}

.b-sc3-item-price-num{
    font-size: 2rem;
}



.b-scroll-5,
.b-scroll-7{
    background: url(../img/bg5.jpg) 50% 50% no-repeat;
    padding-top: 20px;
    padding-bottom: 45px;
}
.b-production-slider{
    
}
.b-production-slider-item-img{
    width: 100%;
}
.b-production-slider__item{
    outline: none;
}

.b-scroll-5 {
    padding-top: 20px;
    padding-bottom: 45px;
}
.b-sc5-slider{
    margin-top: 15px;
    margin-bottom: 35px;

}
.b-prod-sl-next,
.b-prod-sl-prev{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ffdb00;
    cursor: pointer;
    top: 50%;
    margin-top: -40px;
    z-index: 1000;

}
.b-prod-sl-next:hover,
.b-prod-sl-prev:hover{
    background: #fbe664;
}
.b-prod-sl-prev{
    left: -40px;
}


.b-prod-sl-prev:after{
    content: '';
    width: 18px;
    height: 31px;
    display: block;
    background: url(../img/prev-arr.png);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -13px;
}
.b-prod-sl-next{
    right: -40px;
}
.b-prod-sl-next:after{
    content: '';
    width: 18px;
    height: 31px;
    display: block;
    background: url(../img/next-arr.png);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -7px;
}
.b-sc5-text-box{
    color: #fff;
}
.b-sc-5-td-col{
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    margin-bottom: 45px;
}
.b-sc-5-td-col__h2{
    font-family:'Panton-BlackitalicCaps';
    padding-bottom: 6px;
}
.b-sc-5-td-col__p{
    font-family:'SegoeUI-Regular';
}
.b-scroll-6{
    padding-top: 45px;
}
.b-sc6-box{
    margin-top: 5px;
}
.b-sc6-b__fist-col{
    display: inline-block;
    vertical-align: middle;
    width: 23%;
}
.b-sc6-b__second-col{
    display: inline-block;
    vertical-align: middle;
    width: 54%;
}
.b-sc6-b__third-col{
    display: inline-block;
    vertical-align: middle;
    width: 22%;
}
.b-sc6-b-f-col__text{
    color: #008aff;
    font-family: 'Panton-LightitalicCaps';
    font-size: 1.5rem;
}
.b-sc6-instruction{
    height: 580px;
    position: relative;
}
.b-sc6-inst-header{
    position: absolute;
    font-family:'Panton-BlackitalicCaps';
}
.b-sc6-inst-text{
    position: absolute;
    font-family:'SegoeUI-Regular';
    text-transform: none;
}
.b-sc6-instr-img{
    position: absolute;
}
.b-sc6-instr-img--fist{
    top: 9%;
    left: 29%;
}
.b-sc6-inst-header--fist{
    top: 10%;
}
.b-sc6-inst-text--fist{
    top: 19%;
}
.b-sc6-inst-header--second{
    top: 26%;
    left: 60%;
}
.b-sc6-inst-text--second{
    top: 35%;
    left: 60%;
}
.b-sc6-instr-img--second{
    top: 39%;
    left: 69%;
}
.b-sc6-inst-header--third{
    top: 68%;
    left: 34%;
}
.b-sc6-inst-text--third{
    top: 76%;
    left: 34%;
}
.b-sc6-instr-img--third{
    top: 54%;
}





.btn--sc7{
    margin-top: 35px;
}

.b-scroll-8{
    padding-top: 40px;
}
.b-sc8-delivery{
    padding-top: 16px;
    padding-bottom: 60px;
}

.b-sc8-delivery__col{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}
.b-sc8-del__img{
    width: 29%;
    display: inline-block;
    vertical-align: middle;
}
.b-sc8-del-img{
    width: 100%;
}
.b-sc8-del__text{
    width: 65%;
    padding-left: 4%;
    vertical-align: middle;
    display: inline-block;
}
.b-sc8-del-text-h2{
    font-family:'Panton-BlackitalicCaps';
    margin-bottom: 6px;
}
.b-sc8-del-text-text{
    font-family:'SegoeUI-Regular';
    text-transform: none;
    line-height: 1;
}
.b-sc8-pay{
    padding-top: 26px;
}

.b-sc8-pay__col{
    display: inline-block;
    width: 32%;
    vertical-align: top;
    padding: 0 1%;
}
.b-sc8-pay__col:first-child{
    padding-left: 0;
}
.b-sc8-pay__col:last-child{
    padding-right: 0;
}
.b-sc8-p-col-h2{
    font-family:'Panton-BlackitalicCaps';
}
.b-sc8-col-p{
    font-family:'SegoeUI-Regular';
}


.b-scroll-9{
    padding-top: 55px;
}
.b-review-slider {
    overflow: hidden;
}
.slick-dots button{
    display: none;
}
.b-rev-slider-item{
    outline: none;
}
.b-sc9-slider .slick-dots{
    text-align: center;
}
.b-sc9-slider .slick-dots li{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: #0e4585;
    margin: 0 5px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: inset 0 2px 4px #000000;
}
.b-sc9-slider .slick-dots li.slick-active{
    background: #f6d300;
}
.b-rev-slider-item-box{
    border: 5px solid #003e85;
    width: 90%;
    min-height: 300px;
    margin: 0 auto;
}
.b-sc9-slider-item-img{
    display: inline-block !important;
    width: 100px;
    position: relative;
    vertical-align: top;
    left: -3.5%;
    top: 10px;
    box-shadow: 1px 2px 10px #000;
}
.b-rev-slider-item-text{
    display: inline-block;
    vertical-align: top;
    width: 65%;
    font-family: 'SegoeUI-Regular';
    padding: 14px 0;
    line-height: 1.3rem;
}

.b-rev-slider-item-text__after{
    display: block;
    font-family:'SegoeUI-SemiboldItalic';
    padding-top: 5px;
}

.b-scroll-10{
    padding: 65px 0 100px 0;
}
.b-sc10-labels__item{
    box-shadow: 2px 4px 16px #a6a6a6;
}
.b-sc10-labels__item img {
    width: 100%;
}

.b-map{
    height: 460px;
    width: 100%;

}
.my-hint {
    display: inline-block;
    padding: 5px;
    height: 35px;
    position: relative;
    left: -10px;
    width: 195px;
    font-size: 11px;
    line-height: 17px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    background-color: #faefb6;
    border: 1px solid #CDB7B5;
    border-radius: 20px;
    font-family:'SegoeUI-Regular';
}
.b-scroll-12{
    position: relative;
    top: -400px;
    margin-bottom: -290px;
    overflow: hidden;
}


.b-sc12-contact{
    background: #003e85;
    width: 42%;
    float: right;
    font-family:'SegoeUI-Regular';
    color: #fff;
    padding: 40px;
    clear: both;
}
.b-sc12-contact-text{
    display: block;
    font-size: 1.12rem;
    line-height: 1.65rem;
}

.b-sc12-contact-head{
    font-family: 'Panton-BlackitalicCaps';
    display: block;
    padding-top: 30px;
    font-size: 1.15rem;
}

.b-sc12-contact__col{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}
.b-sc-header--sc12{
    padding-bottom: 20px;
}
.b-scroll-13{
    height: 120px;
}

.b-scroll-13-box{
    position: relative;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
.b-sc13__col{
    width: 33%;
    display: inline-block;
    vertical-align: middle;
}
.b-sc13__col--tal{
    text-align: left;
}
.b-sc13__col--tar{
    text-align: right;
}
.b-sc13-col-text{
    font-family:'SegoeUI-Regular';
    font-size: 1.125rem;
}
.btn--sc13{
    width: 175px;
}
.b-sc13-ul{
    margin: 0;
    padding: 0;
}
.b-sc13-li{
    display: inline-block;
}







.b-form{
    max-width: 360px;
    min-width: 320px;
    width: 100%;
}
.b-form__wrapper{
    margin: 8px;
    background: linear-gradient(53deg, #153067 0%, #5cafd2 100%);
    border: 8px solid #fff;
    box-shadow: 0 4px 15px black;
}
.b-form-wrapper{
    padding: 25px 35px;
}
.b-form-h1{
    font-family: 'Panton-BlackitalicCaps';
    color: #fff;
    font-size: 1.74rem;
    margin-bottom: 25px;
    text-align: center;

}
.b-form-h1--call{
    font-size: 1.7rem;
    padding: 25px 0 10px;
}

.b-form-h1 span{
    display: block;
    font-family:'Panton-LightitalicCaps';
    font-size: 1.1rem;
    font-weight: 200;
}
.b-form-label{
    display: inline-block;
    width: 33%;
    color: #fff;
    font-family:'SegoeUI-Regular';
    font-size: 1.1rem;
    vertical-align: middle;
}
.b-form-label--buy-big{
    vertical-align: top;
    padding-top: 10px;
}
.b-form-input-text{
    display: inline-block;
    width: 67%;
    height: 38px;
    box-shadow: inset 5px 5px 8px #8e9091;
    border: 0;
    margin: 10px 0;
}
.b-form-input-btn{
    margin-left: 33%;
    display: block;
    background: transparent;
    border: 0;
    padding: 0;
}
.b-form-text{
    color: #fff;
    font-family:'SegoeUI-Regular';
    text-align: center;
}
.b-form-text--after{
    padding-bottom: 20px;
}
.b-form-input-text--text-area{
    height: 100px;
    padding: 0;
}


/*Адаптивность*/

@media(max-width: 1145px){
    .width{
        width: 96%;
        padding: 0 2%;
    }
    .b-scroll-1{
        -webkit-background-size: cover;
        background-size: cover;
    }
    .b-sc1-left-col{
        width: 100%;
        text-align: center;
    }
    .b-sc1-logo{
        font-size: 2rem;
        margin: 0 auto;
    }
    .b-sc1-right-col{
        width: 100%;
        text-align: center;
    }
    .b-sc1-menu-item{
        padding: 0 .5%
    }
    .b-sc1__mb-left{
        width: 57%;
    }
    .b-production-slider{
        overflow: hidden;
    }
    .b-prod-sl-prev{
        left: 10px;
    }
    .b-prod-sl-next{
        right: 10px;
    }
    .b-scroll-5,
    .b-scroll-7{
        -webkit-background-size: cover;
        background-size: cover;
    }
    .b-sc3-i-ch-color-text{
        width: 100%;
    }
    .b-sc3-item-choose-color__item-box{
        width: 100%;
    }
    .b-sc3-box__item{
        vertical-align: top;
    }
    .b-sc6-b__fist-col{
        width: 100%;
        text-align: center;
    }
    .b-sc6-b__second-col{
        text-align: center;
        width: 100%;
    }
    .b-sc6-b__third-col{
        width: 100%;
        text-align: center;
    }
}

@media(max-width: 900px){
    .b-sc1__mb-left{
        width: 100%;
    }
    .b-sc1__mb-right{
        width: 100%;
    }
    .b-sc1__mb-right .b-form{
        margin: 0 auto;
    }
    .b-sc2-ul__li{
        width: 25%;
    }



    .b-sc6-instr-img{
        position: static;
        float: right;
    }
    .b-sc6-inst-text{
        position: static;
    }
    .b-sc6-inst-header{
        position: static;
    }

    .b-sc6-inst__fist,
    .b-sc6-inst__second,
    .b-sc6-inst__third{
        clear: both;
        clear: both;
    }
    .b-sc6-instruction{
        height: auto;
        overflow: hidden;
        padding-bottom: 30px;
    }
}
@media(max-width: 750px){
    .b-sc3-i-ch-color-item{
        width: 15%;
    }
    .b-scroll-10{
        display: none;
    }
}


@media(max-width: 700px){
    .b-sc3-box__item{
        width: 100%;
        margin: 0 auto;
    }
    .b-sc3-box__item:first-child,
    .b-sc3-box__item:last-child{
        margin: 0 auto;
    }
}

@media(max-width: 650px){
    .b-sc8-delivery__col{
        width: 100%;
    }
    .b-sc8-pay__col{
        width: 100%;
        padding-bottom: 10px;
    }

    .b-sc12-contact{
        width: 80%;
    }
    .b-map{
        opacity: 0;
    }
    .b-sc13__col{
        width: 100%;
        text-align: center;
    }
    .b-sc13__col .btn{
        margin: 20px auto;
    }
    .b-sc-header{
        font-size: 2rem;
    }
}
@media(max-width: 400px){
    .b-sc1__mb-left{
        display: none;
    }
}